.MainFlexBox {
  display: flex;
}
.TextFlexBox02 h4 {
  font-size: 40px;
  font-weight: 600;
  width: 700px;
  padding-left: 250px;
  padding-top: 50px;
  color: white;
  text-align: left;
}

.TextFlexBox02 p {
  opacity: 60%;
  color: white;
  font-size: 20px;
  width: 500px;
  text-align: left;
  padding-top: 20px;
  padding-left: 250px;
}

.BackGroundImage6 img {
  width: 70%;
  margin-left: 30%;
  margin-top: 15%;
}
.BackGroundImage6 {
  margin-top: 0px;
}

.Carousel p {
  font-size: 40px;
}
.Carousel {
  margin-top: 100px;
  height: 330px;
}
.MapCarousel {
  margin-top: 20px;
  background-color: #d7ecfb;
  width: 200px;
  height: 180px;
  border-radius: 30px;
}
.MapCarousel {
  margin-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MapCarousel img {
  width: 150px;
}
.MapCarousel p {
  font-size: 28px;
  width: 250px;
  color: #2a65aa;
}
.Text5 p {
  font-size: 40px;
  color: #224a82;
}
.Text5 span {
}
.Text5 {
  margin-top: 120px;

  height: 150px;
}
.Text5 span {
  font-size: 28px;
  color: #649acf;
}
.FlexBoxazd {
  display: flex;
}
.MainFlexBox button {
  border: none;
  margin-top: 20px;

  font-size: 20px;
  background-color: #f72122;
  width: 280px;
  height: 35px;
  margin-left: 50px;
  color: white;
  border-radius: 40px;
}
.Text {
  background-color: white;
  color: white;
  height: 400px;
}
.Text03 {
  margin-right: 50px;
}
.Textdz03 {
  background-color: #fe7966;
  color: #fe7966;
  height: 250px;
}
.CarouselImage6 {
  background-color: #d7ecfb;
  width: 200px;
  height: 150px;
  border-radius: 20px;
}
.CarouselImage6 img {
  width: 150px;
}
@media screen and (max-width: 600px) {
  .MainFlexBox {
    -webkit-transition: 1s;
    margin-right: 250px;
  }
  .TextFlexBox02 {
    -webkit-transition: 1s;
    margin-right: 150px;
    padding-right: 50px;
  }
  .TextFlexBox02 h4 {
    -webkit-transition: 1s;
    padding-left: 50px;
  }
  .TextFlexBox02 {
  }
  .TextFlexBox02 p {
    -webkit-transition: 1s;
    padding-left: 70px;
    justify-content: center;
  }
  .TextFlexBox02 button {
    -webkit-transition: 1s;
    margin-left: 50px;
  }
  .BackGroundImage6 {
    display: none;
  }
  .MainFlexBox02 {
    margin-bottom: 80px;
    margin-top: 0px;
  }
}
.Input {
  display: flex;
  background-color: white;
  width: 60%;
  height: 5%;
  margin-left: 230px;
  opacity: 60%;
  border-radius: 30px;
}
.da {
  height: 200px;
}
.Input p {
  opacity: 100%;
  color: rebeccapurple;
}
.Test06 {
  -webkit-transition: 1s;
  position: absolute;
  background-color: rgb(112, 112, 112);
  width: 1530px;
  opacity: 50%;
  height: 1000px;
}
.Test07 {
  margin-top: 50px;
  -webkit-transition: 1s;
  position: absolute;
  background-image: url("Background58.png");

  width: 1100px;
  margin-left: 200px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 150px;
}
.Test08 {
  height: 800px;
}
.Test07 img {
  width: 500px;
}
.Imagec5 {
  margin-top: 20px;
  margin-left: 800px;
}
.Imagec5 img {
  width: 500px;
}
.Button08 button {
  background-color: #5893ce;
  width: 150px;
}

.MainFlexBox02 {
  background-image: url("Background0Test.png");
  height: 800px;
}

.Input5 input {
  position: absolute;
  margin-left: 50px;
}
.Input5 img {
  margin-top: 25px;
  width: 25px;
  position: absolute;
  margin-left: 860px;
}
.Input5 {
  margin-right: 950px;
}
.Space {
  height: 50px;
}
.TextFlexBox02 {
  margin-top: 30px;
}
.FlexBox06 {
  display: flex;
}
.adz {
  width: 1500px;
}
.Da button {
  padding-top: 5px;
  background-color: #011f49;
  color: white;
}

.Da span {
  padding-bottom: 10px;
  font-size: 22px;
}
.ModalBoduy button {
  background-color: none;
  border: none;

  margin-left: 50px;
}
.ModalBoduy {
  height: 300px;
  display: flex;
}
.Catgories {
  position: absolute;
  padding-right: 50px;
  height: 400px;
  width: 1000px;
  margin-left: 200px;

  background-image: url("Background58.png");

  border-radius: 18px;
}
.Catgories img {
  margin-left: 100px;
  width: 450px;
  position: absolute;
  margin-left: 50px;
}
.Button5 {
  display: flex;
}
.Button5 button {
  margin-left: 20px;
  background-color: #5793ce;
  width: 120px;
}
@media screen and (max-width: 600px) {
  .TextFlexBox02 button {
    margin-right: 80px;
    -webkit-transition: 1s;
  }
  .TextFlexBox02 h4 {
    -webkit-transition: 1s;
    font-size: 50px;
    width: 520px;
  }
}
@media screen and (max-width: 1000px) {
  .Input {
    margin-top: 50px;
    -webkit-transition: 1s;
    margin-left: 200px;
    width: 500px;
  }
  .TextFlexBox02 p {
    -webkit-transition: 1s;
    padding-left: 250px;

    width: 700px;
  }
  .TextFlexBox02 h4 {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .Input {
    margin-top: 50px;
    -webkit-transition: 1s;
    margin-left: 15%;
    width: 80%;
  }
  .TextFlexBox02 p {
    -webkit-transition: 1s;
    padding-left: 15%;

    width: 50%;
  }
  .TextFlexBox02 h4 {
    -webkit-transition: 1s;
    font-size: 50px;
    padding-left: 15%;
  }
  .TextFlexBox02 button {
    margin-right: 35%;
  }
}
