* {
  margin: 0px;
  padding: 0px;
  font-family: "Sakkal Majalla";
}
.FlexBoxNavBar {
  display: flex;

  margin-left: 100px;
}
.FlexBoxNavBar img {
  width: 180px;
}
.FlexBoxNavBar p {
  padding-top: 60px;
  font-size: 22px;
  margin-left: 40px;
}
.Text03 {
  display: flex;
  margin-left: 300px;
  margin-top: 20px;
}
.Text03 button {
  margin-top: 60px;
  margin-left: 50px;
  width: 80px;
  height: 30px;
  border: none;
  background-color: #f72122;
  color: white;
  border-radius: 18px;
}
.Text03 h2 {
  font-weight: 400;
}

.NavBar {
  width: 1540px;

  height: 720px;
  background-image: url("BackGround05.png");
}
.FlexBoxNavBar img {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  width: 250px;
}
